.container{
    border:solid red 2px;
    display:flex;
    flex-direction:column;
    height: 600px;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    background-color: black;
   align-items: center;
   text-decoration-color: coral;
   text-decoration-style: wavy;
}
.container>div{
    border: solid red 2px;
    background-color: blueviolet;
    color:yellow;
    height: 200px;
    width: 200px;
    font-size: 30px;
    justify-content: space-around;
    animation-name:animateone;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    display: flex;
    position: relative;
}

.container>div:hover{
    background-color: green;
    color: brown;
    transform: rotate(360deg) scaleX(2) skew(45deg) translate(100px);
    transition: 2s;
}
@keyframes animateone{
    from{
        transform: rotate(0deg);
        background-color: red;
    }
    50%{
        left: 50px;
        top: 0px;
        transform: rotate(360deg) scaleX(2) skew(45deg) translate(100px);
    }
    to{
        transform:rotate(360deg);
        background-color: aquamarine;
        left: 300px;
        top: 300px;
    }
}